@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }


body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  background-color: #333333;
  color: rgba(255, 250, 250, 0.7); }
  @media screen and (max-width: 992px) {
    body {
      font-size: 16px; } }

a {
  color: #0f0f0f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #d9ff00;
    outline: none;
    text-decoration: none !important; }

p {
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  color: rgb(255, 250, 250);
  font-family:  'Arial Narrow', Arial, sans-serif;
  font-weight: 200;
  margin: 0 0 30px 0; }

figure {
  margin-bottom: 2.5em;
  float: left;
  width: 100%; }
  figure figcaption {
    font-size: 16px;
    width: 80%;
    margin: 20px auto 0px auto;
    color: #ffffff;
    font-style: italic;
    font-family: "Quicksand", Arial, sans-serif; }
    @media screen and (max-width: 480px) {
      figure figcaption {
        width: 100%; } 
      }

::-webkit-selection {
  color: #fff;
  background: #2c98f0; }

::-moz-selection {
  color: #fff;
  background: #2c98f0; }

::selection {
  color: #fff;
  background: #2c98f0; }

#rakibhhridoy-page {
  width: 100%;
  overflow: hidden;
  position: relative; }


.position a {
  color: #fdffff ;
}

.position a:hover{
  color: #18ff65;
}

  #rakibhhridoy-aside {
    padding-top: 3em;
    padding-bottom: 40px;
    float: left;
    width: 300px;
    position: fixed;
    overflow-y: scroll;
    z-index: 1001;
    background: #343535;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (max-width: 768px) {
      #rakibhhridoy-aside {
        width: 300px;
        -moz-transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        transform: translateX(-300px);
        padding-top: 4em; } }
    #rakibhhridoy-aside .author-img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    #rakibhhridoy-aside .position {
      display: block;
      margin-bottom: 2em;
      font-size: 12px;
      text-transform: uppercase; }
    #rakibhhridoy-aside #rakibhhridoy-logo {
      text-align: right;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: .5em;
      display: block;
      width: 100%; }
      #rakibhhridoy-aside #rakibhhridoy-logo a {
        display: block;
        text-align: center;
        color: rgb(187, 255, 216);
        padding-right: .3em; }
      #rakibhhridoy-aside #rakibhhridoy-logo a:hover{
        color: #18ff65;
      }
    #rakibhhridoy-aside #rakibhhridoy-main-menu {
      display: block;
      width: 100%; }
      #rakibhhridoy-aside #rakibhhridoy-main-menu .collapse {
        display: block !important; }
      #rakibhhridoy-aside #rakibhhridoy-main-menu ul {
        text-align: center;
        margin: 0;
        padding: 0; }
        @media screen and (max-width: 768px) {
          #rakibhhridoy-aside #rakibhhridoy-main-menu ul {
            margin: 0 0 2em 0; } }
        #rakibhhridoy-aside #rakibhhridoy-main-menu ul li {
          margin: 0 0 10px 0;
          padding: 0;
          list-style: none;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1px; }
          #rakibhhridoy-aside #rakibhhridoy-main-menu ul li a {
            color: rgba(224, 224, 224, 0.7);
            text-decoration: none;
            position: relative;
            padding: 10px 0;
            font-family: "Quicksand", Arial, sans-serif;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
            #rakibhhridoy-aside #rakibhhridoy-main-menu ul li a:after {
              content: "";
              position: absolute;
              height: 1px;
              bottom: 7px;
              left: 0;
              right: 0;
              background-color: #f3ff4f;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              -moz-transform: scaleX(0);
              -ms-transform: scaleX(0);
              -o-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
            #rakibhhridoy-aside #rakibhhridoy-main-menu ul li a:hover {
              text-decoration: none;
              color: rgb(255, 108, 108); }
              #rakibhhridoy-aside #rakibhhridoy-main-menu ul li a:hover:after {
                visibility: visible;
                -webkit-transform: scaleX(1);
                -moz-transform: scaleX(1);
                -ms-transform: scaleX(1);
                -o-transform: scaleX(1);
                transform: scaleX(1); }
          #rakibhhridoy-aside #rakibhhridoy-main-menu ul li.active a {
            color: rgb(86, 255, 19); }
            #rakibhhridoy-aside #rakibhhridoy-main-menu ul li.active a:after {
              visibility: visible;
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              -ms-transform: scaleX(1);
              -o-transform: scaleX(1);
              transform: scaleX(1); }
    #rakibhhridoy-aside .rakibhhridoy-footer {
      font-size: 15px;
      text-align: center;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      padding: 0 20px;
      width: 100%; }
      @media screen and (max-width: 768px) {
        #rakibhhridoy-aside .rakibhhridoy-footer {
          position: relative;
          bottom: 0; } }
      #rakibhhridoy-aside .rakibhhridoy-footer span {
        display: block; }
      #rakibhhridoy-aside .rakibhhridoy-footer ul {
        padding: 0;
        margin: 0; }
        #rakibhhridoy-aside .rakibhhridoy-footer ul li {
          padding: 0;
          margin: 0;
          display: inline;
          list-style: none; }
          #rakibhhridoy-aside .rakibhhridoy-footer ul li a {
            color:  rgb(187, 255, 216);
            padding: 4px; }
            #rakibhhridoy-aside .rakibhhridoy-footer ul li a:hover, #rakibhhridoy-aside .rakibhhridoy-footer ul li a:active, #rakibhhridoy-aside .rakibhhridoy-footer ul li a:focus {
              text-decoration: none;
              outline: none;
              color: #ff8f62; }
  


.container-wrap {
  max-width: 1170px;
  margin: 0 auto; }

#rakibhhridoy-main {
  width: calc(100% - 300px);
  float: right;
  color: rgb(255, 255, 255);
  font-size: large;
  text-shadow: 1px 1px rgb(0, 0, 0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    #rakibhhridoy-main {
      width: 100%;
      padding: 0 1em; } }

#rakibhhridoy-hero {
  min-height: 500px;
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  float: left;
  margin-bottom: 10em;
  clear: both; }
  #rakibhhridoy-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0; }
    #rakibhhridoy-hero .flexslider .slides {
      position: relative;
      overflow: visible; }
      #rakibhhridoy-hero .flexslider .slides li {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        min-height: 400px;
        position: relative; }
    #rakibhhridoy-hero .flexslider .flex-control-nav {
      bottom: 20px;
      z-index: 1000;
      left: 20px;
      float: left;
      width: auto; }
      @media screen and (max-width: 768px) {
        #rakibhhridoy-hero .flexslider .flex-control-nav {
          right: 20px;
          top: 100px; } }
      #rakibhhridoy-hero .flexslider .flex-control-nav li {
        display: block;
        margin-bottom: 10px; }
        #rakibhhridoy-hero .flexslider .flex-control-nav li a {
          background: rgba(116, 209, 40, 0.89);
          -webkit-box-shadow: none;
          box-shadow: none;
          width: 12px;
          height: 12px;
          cursor: pointer; }
          #rakibhhridoy-hero .flexslider .flex-control-nav li a.flex-active {
            cursor: pointer;
            background: transparent;
            border: 2px solid #2cf084; }
    #rakibhhridoy-hero .flexslider .flex-direction-nav {
      display: none; }
    #rakibhhridoy-hero .flexslider .slider-text {
      display: table;
      opacity: 0;
      min-height: 500px;
      z-index: 9; }
      #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        min-height: 700px;
        padding: 2.5em;
        position: relative; }
        @media screen and (max-width: 768px) {
          #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner {
            text-align: center; } }
        #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner h1, #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner h2 {
          margin: 0;
          padding: 0;
          color:  rgb(211, 255, 230);
          font-family: "Playfair Display", Georgia, serif; }
        #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner h1 {
          margin-bottom: 20px;
          font-size: 60px;
          line-height: 1.3;
          font-weight: 700; }
          @media screen and (max-width: 768px) {
            #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner h1 {
              font-size: 28px; } }
        #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner h2 {
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 30px;
          font-weight: 300;
          font-family: "Quicksand", Arial, sans-serif; }
          #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner h2 a {
            color: rgba(44, 201, 240, 0.8);
            border-bottom: 1px solid rgba(44, 152, 240, 0.7); }
        #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner .heading-section {
          font-size: 50px; }
          @media screen and (max-width: 768px) {
            #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner .heading-section {
              font-size: 30px; } }
        #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner s
.rakibhhridoy-lead {
          font-size: 20px;
          color: #fff; }
        #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner p {
          margin-bottom: 0; }
        #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner .btn {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: rgb(255, 255, 255);
          padding: 10px 15px !important;
          border: none;
          font-weight: 400; }
          #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
            color: rgb(255, 255, 255);
            border: 1px solid #000;
            background: transparent !important; }
            #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn:hover {
              background: transparent !important;
              border: 1px solid #000 !important; }
          @media screen and (max-width: 768px) {
            #rakibhhridoy-hero .flexslider .slider-text > .slider-text-inner .btn {
              width: 100%; } }

body.offcanvas {
  overflow-x: hidden; }
  body.offcanvas #rakibhhridoy-aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 300px;
    background: #f2f3f7;
    z-index: 999;
    position: fixed; }
  body.offcanvas #rakibhhridoy-main, body.offcanvas .rakibhhridoy-nav-toggle {
    top: 0;
    -moz-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px); }

.rakibhhridoy-narrow-content {
  padding: 0 2.5em; }
  @media screen and (max-width: 768px) {
    .rakibhhridoy-narrow-content {
      padding: 0; } }

.no-gutters {
  margin: 0;
  padding: 0; }

.rakibhhridoy-experience,
.rakibhhridoy-skills,
.rakibhhridoy-education,
.rakibhhridoy-blog,
.rakibhhridoy-work,
.rakibhhridoy-about,
.rakibhhridoy-services,
.rakibhhridoy-contact {
  padding-top: 4em;
  padding-bottom: 9em;
  clear: both;
  width: 100%;
  display: block; }
  @media screen and (max-width: 768px) {
    .rakibhhridoy-experience,
    .rakibhhridoy-skills,
    .rakibhhridoy-education,
    .rakibhhridoy-blog,
    .rakibhhridoy-work,
    .rakibhhridoy-about,
    .rakibhhridoy-services,
    .rakibhhridoy-contact {
      padding-top: 5em;
      padding-bottom: 8em; } }

.author-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.rakibhhridoy-heading {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative; }
  .rakibhhridoy-heading span {
    display: block; }
  @media screen and (max-width: 768px) {
    .rakibhhridoy-heading {
      margin-bottom: 3em; } }

.heading-meta {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 5px; }

.about-img {
  width: 100%;
  height: 600px;
  margin-bottom: 30px; }

.about-desc h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500; }

.hire {
  padding: 2em;
  background: #575555; }
  .hire h2 {
    color: rgb(255, 242, 55);
    line-height: 1.5; }
  .hire .btn-hire {
    color: rgb(255, 251, 6);
    text-transform: uppercase;
    letter-spacing: 1px;
    bordeR: 1px solid rgb(43, 255, 15);
    padding: 2px 10px; }


.timeline-centered {
  position: relative;
  margin-bottom: 30px; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #02dd94;
  top: 20px;
  bottom: 20px;
  margin-left: 29px; 
  color: rgb(20, 19, 19);}

.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both; }

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2cd9f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: white; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #ec5453; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f9bf3f; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
    background: #a84cb8; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
    background: #2fa499; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: rgb(165, 97, 97);
    width: 20px;
    height: 20px;
    margin-left: 10px; }



.copyright {
  margin-left: 8%;
}
small a{
  color: #56fde1;
}
small a:hover{
  color: #0eff06;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #5f5f5b;
  padding: 1.5em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f2f3f7 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: rgb(166, 255, 228); }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: rgb(172, 249, 255); }
  
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-size: 16px; }

.services {
  margin-bottom: 30px;
  padding: 1.5em;
  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0; }
  .services .icon2 {
    display: block;
    margin-bottom: 20px; }
    .services .icon2 i {
      font-size: 30px;
      color: #2c98f0; }
  .services h3 {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500; }
  .services.color-2 {
    border-bottom: 2px solid #ec5453; }
    .services.color-2 .icon2 i {
      color: #ec5453; }
  .services.color-3 {
    border-bottom: 2px solid #f9bf3f; }
    .services.color-3 .icon2 i {
      color: #f9bf3f; }
  .services.color-4 {
    border-bottom: 2px solid #a84cb8; }
    .services.color-4 .icon2 i {
      color: #a84cb8; }
  .services.color-5 {
    border-bottom: 2px solid #2fa499; }
  .services.color-6 {
    border-bottom: 2px solid #4054b2; }

.services {
  margin-bottom: 80px;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 768px) {
    .services {
      margin-bottom: 4em; } }
  .services .icon {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 100px;
    height: 50px;
    display: table;
    margin: 0 auto;
    background: #2c98f0; }
    .services .icon:before, .services .icon:after {
      position: absolute;
      left: 0;
      right: 0;
      content: ''; }
    .services .icon:before {
      top: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50px 30px 50px;
      border-color: transparent transparent #2c98f0 transparent; }
    .services .icon:after {
      bottom: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 50px 0 50px;
      border-color: #2c98f0 transparent transparent transparent; }
    .services .icon i {
      font-size: 30px;
      color: #fff;
      z-index: 1;
      display: table-cell;
      vertical-align: middle; }
  .services .desc {
    margin-top: 60px; }
    .services .desc h3 {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .services.color-2 .icon {
    background: #ec5453; }
    .services.color-2 .icon:before {
      border-color: transparent transparent #ec5453 transparent; }
    .services.color-2 .icon:after {
      border-color: #ec5453 transparent transparent transparent; }
  .services.color-3 .icon {
    background: #f9bf3f; }
    .services.color-3 .icon:before {
      border-color: transparent transparent #f9bf3f transparent; }
    .services.color-3 .icon:after {
      border-color: #f9bf3f transparent transparent transparent; }
  .services.color-4 .icon {
    background: #a84cb8; }
    .services.color-4 .icon:before {
      border-color: transparent transparent #a84cb8 transparent; }
    .services.color-4 .icon:after {
      border-color: #a84cb8 transparent transparent transparent; }
  .services.color-5 .icon {
    background: #2fa499; }
    .services.color-5 .icon:before {
      border-color: transparent transparent #2fa499 transparent; }
    .services.color-5 .icon:after {
      border-color: #2fa499 transparent transparent transparent; }
  .services.color-6 .icon {
    background: #889efd; }
    .services.color-6 .icon:before {
      border-color: transparent transparent #889efd transparent; }
    .services.color-6 .icon:after {
      border-color: #889efd transparent transparent transparent; }

.rakibhhridoy-feature {
  text-align: left;
  width: 100%;
  float: left;
  margin-bottom: 40px;
  position: relative; }
  .rakibhhridoy-feature .rakibhhridoy-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: table;
    text-align: center;
    background: #4b4c4d;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .rakibhhridoy-feature .rakibhhridoy-icon i {
      display: table-cell;
      vertical-align: middle;
      color: #81ff19;
      font-size: 60px;
      height: 100px; }
      @media screen and (max-width: 1200px) {
        .rakibhhridoy-feature .rakibhhridoy-icon i {
          font-size: 40px; } }

  .rakibhhridoy-feature .rakibhhridoy-text {
    padding-left: 120px;
    width: 100%; }
    .rakibhhridoy-feature .rakibhhridoy-text h2, .rakibhhridoy-feature .rakibhhridoy-text h3 {
      margin: 0;
      padding: 0; }
    .rakibhhridoy-feature .rakibhhridoy-text h3{
      font-weight: 500;
      margin-bottom: 20px;
      color: #9fff32;
      font-size: 14px;
      letter-spacing: 3px;
      text-transform: uppercase; }
  .rakibhhridoy-feature.rakibhhridoy-feature-sm .rakibhhridoy-text {
    margin-top: 30px; }
  .rakibhhridoy-feature.rakibhhridoy-feature-sm .rakibhhridoy-icon i {
    color: #9fff32;
    font-size: 40px; }
    @media screen and (max-width: 1200px) {
      .rakibhhridoy-feature.rakibhhridoy-feature-sm .rakibhhridoy-icon i {
        font-size: 28px; } }

.rakibhhridoy-text p a{
  color: #9fff32;
}

.blog-entry {
  width: 100%;
  float: left;
  background: #464747;
  margin-bottom: 3em; }
  @media screen and (max-width: 768px) {
    .blog-entry {
      margin-bottom: 3em; } }
  .blog-entry .blog-img {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 25px; }
    .blog-entry .blog-img img {
      position: relative;
      max-width: 100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .blog-entry .desc h3 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 4%;
    margin-right: 4%;
    line-height: auto;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Quicksand", Arial, sans-serif; }
    .blog-entry .desc h3 a {
      color: rgb(189, 255, 235);
      text-decoration: none;
    }


    .blog-entry .desc p{
      margin-left: 4%;
      margin-right: 4%;
    }
    .blog-entry .desc p a{
      color: rgb(234, 255, 252);
    }
  .blog-entry .desc span {
    display: block;
    margin-bottom: 20px;
    margin-left: 4%;
    font-size: 12px;
    color: rgb(187, 255, 174) !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400; }
    .blog-entry .desc span small i {
      color: #000000; }
  .blog-entry .desc .lead {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(117, 117, 117); }
  .blog-entry:hover .blog-img img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.work-menu span {
  margin-left: 10px; }
  .work-menu span:first-child {
    margin-left: 0; }
  .work-menu span a {
    color: #000; }
    .work-menu span a.active {
      color: #2c98f0; }

.project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  width: 100%;
  display: block;
  margin-bottom: 30px; }
  .project .desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #02dd94;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .project .desc .con {
      padding: 20px;
      display: block;
      position: relative;
      height: 300px; }
      .project .desc .con .icon {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px; }
        .project .desc .con .icon span {
          display: inline;
          padding-right: 5px; }
          .project .desc .con .icon span a {
            color: #333333;
            padding: 5px;
            background: rgba(255, 255, 255, 0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px; }
        .project .desc .con .icon i {
          font-size: 16px;
          color: #333333; }
    .project .desc h3 {
      font-family: "Quicksand", Arial, sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
      margin-bottom: 15px; }
      .project .desc h3 a {
        color: rgb(15, 15, 15); }
    .project .desc span {
      display: block;
      color: rgba(7, 7, 7, 0.7);
      font-size: 13px;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transform: translate3d(0, 15px, 0);
      transform: translate3d(0, 15px, 0); }
      .project .desc span a {
        color: #000; }
    @media screen and (max-width: 768px) {
      .project .desc {
        opacity: 1;
        background: rgba(0, 0, 0, 0.4); }
        .project .desc h3 {
          font-style: 28px;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          color: #000; }
        .project .desc span {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); } }
  .project:hover .desc {
    opacity: 1; }
    .project:hover .desc h3 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .project:hover .desc span {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

.btn-load-more {
  color: #000 ;
  width: 100%; }

#rakibhhridoy-counter {
  position: relative;
  clear: both;
  margin-bottom: 5em; }

.rakibhhridoy-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }
  .rakibhhridoy-counters .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4); }
  .rakibhhridoy-counters .icon {
    width: 100px;
    height: 100px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px; }
    .rakibhhridoy-counters .icon i {
      display: table-cell;
      vertical-align: middle;
      width: 100px;
      height: 100px;
      font-size: 50px;
      color: #2c98f0;
      background: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
  .rakibhhridoy-counters .counter-wrap {
    border: 1px solid red !important; }
  .rakibhhridoy-counters .rakibhhridoy-counter {
    font-size: 40px;
    display: block;
    color: white;
    font-family: "Quicksand", Arial, sans-serif;
    width: 100%;
    font-weight: 700;
    margin-bottom: .3em; }
  .rakibhhridoy-counters .rakibhhridoy-counter-label {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    margin-bottom: 2em;
    display: block; }

.rakibhhridoy-social {
  padding: 0;
  margin: 0;
  text-align: center; }
  .rakibhhridoy-social li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .rakibhhridoy-social li a {
      font-size: 22px;
      color: #000;
      padding: 10px;
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      *display: inline;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px; }
      @media screen and (max-width: 768px) {
        .rakibhhridoy-social li a {
          padding: 10px 8px; } }
      .rakibhhridoy-social li a:hover {
        color: #2c98f0; }
      .rakibhhridoy-social li a:hover, .rakibhhridoy-social li a:active, .rakibhhridoy-social li a:focus {
        outline: none;
        text-decoration: none;
        color: #2c98f0; }

#map {
  width: 100%;
  height: 700px; }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px; } }

.rakibhhridoy-bg-color {
  background: #fafafa;
  position: relative; }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 15px !important; }
  .btn.btn-sm {
    padding: 4px 15px !important; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #616360;
  font-size: 13px;
  color: rgb(228, 253, 0);
  border: 2px solid #b3ffdc; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #41fd5a !important;
    color: #201f1f;
    border-color: #44f253 !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #2c98f0;
    border: 2px solid #2c98f0; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #2c98f0;
      color: #fff; }

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important; }
  .btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c; }
    .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
      background: #5cb85c;
      color: #fff; }

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important; }
  .btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de; }
    .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
      background: #5bc0de;
      color: #fff; }

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important; }
  .btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e; }
    .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
      background: #f0ad4e;
      color: #fff; }

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important; }
  .btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f; }
    .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
      background: #d9534f;
      color: rgb(250, 243, 243); }

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

#message {
  height: 130px; }

.rakibhhridoy-nav-toggle {
  cursor: pointer;
  text-decoration: none; }
  .rakibhhridoy-nav-toggle.active i::before, .rakibhhridoy-nav-toggle.active i::after {
    background: #000; }
  .rakibhhridoy-nav-toggle.dark.active i::before, .rakibhhridoy-nav-toggle.dark.active i::after {
    background: #000; }
  .rakibhhridoy-nav-toggle:hover, .rakibhhridoy-nav-toggle:focus, .rakibhhridoy-nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .rakibhhridoy-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .rakibhhridoy-nav-toggle i::before, .rakibhhridoy-nav-toggle i::after {
      content: '';
      width: 30px;
      height: 2px;
      background: #000;
      position: absolute;
      left: 0;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
  .rakibhhridoy-nav-toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .rakibhhridoy-nav-toggle.dark i::before, .rakibhhridoy-nav-toggle.dark i::after {
      background: #000;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

.rakibhhridoy-nav-toggle i::before {
  top: -7px; }

.rakibhhridoy-nav-toggle i::after {
  bottom: -7px; }

.rakibhhridoy-nav-toggle:hover i::before {
  top: -10px; }

.rakibhhridoy-nav-toggle:hover i::after {
  bottom: -10px; }

.rakibhhridoy-nav-toggle.active i {
  background: transparent; }

.rakibhhridoy-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.rakibhhridoy-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg); }

.rakibhhridoy-nav-toggle {
  position: fixed;
  left: -5px;
  top: 0px;
  z-index: 9999;
  cursor: pointer;
  opacity: 1;
  visibility: hidden;
  padding: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    .rakibhhridoy-nav-toggle {
      opacity: 1;
      visibility: visible; } }

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%; } }

.row-bottom-padded-lg {
  padding-bottom: 7em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
      padding-bottom: 1em; } }

.row-bottom-padded-md {
  padding-bottom: 3em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-md {
      padding-bottom: 1em; } }

.row-bottom-padded-sm {
  padding-bottom: 1em; }
  @media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
      padding-bottom: 1em; } }

.row-pt-md {
  padding-top: 3em; }

.col-padding {
  padding: 10px !important; }

.js .animate-box {
  opacity: 0; }


.footer-social li{
  display: inline-block;
  margin-left: 35px;
}
.footer-social li a{
  color: rgb(166,255,240);
  height: 50px;
  width: 50px;
}
.footer-social li a:hover{
  color: rgb(255, 237, 72);
}

.footer-social{
  margin-bottom: 50px;
}